body{
    background-color:rgb(19, 54, 54);
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0;
   overflow: hidden;
   height:100vm;
  
}
#display{
 height: 80px;
 width: 100%;
 font-size: 50px;
 border-radius: 2rem;
 margin-top: 30%;
 border: none;

}
.calculadora{
    
    font-family: 'Courier New', Courier, monospace; 
    max-width: 300px;
    margin:5px;
    border-radius: 15px;
}

button{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    padding: 0px;
    margin: 5px;
    color: rgb(19, 54, 54);
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    
}

button:hover{
transition: .4s;
background-color:  rgb(13, 83, 83);;

}
#keys{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    gap: 5px;
    padding: 15px;
    background-color: rgb(19, 54, 54);
    border-radius: 1rem;
    justify-content: center;
    margin-top: 30px;
   
}

.btn-dif{
    background-color: rgb(255, 115, 0);

}
.btn-dif:hover{
    transition: .4s;
    background-color:  rgb(105, 54, 11);
}

